.blob{
    overflow: hidden;
    width: 30em;
    height: 20em;
    border-radius: 42% 56% 72% 28% / 42% 40% 56% 40%;
    background-color: ;
    box-shadow: 5px 5px 10px 1px;
    animation: morph 3.5s linear infinite;
    display: flex;
    justify-content: center;
    background-color: #03a3dd56;
    border-top: 1px solid rgb(0, 222, 252);
    border-left: 1px solid rgb(0, 222, 252) ;
    margin-left: 35vw;
}


@keyframes morph{
    0%, 100% {
        border-radius:
        42% 56% 72% 28 / 42% 42% 56% 48%;
    }
    33% {
        border-radius: 
        72% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66% {
        border-radius: 
        100% 56% 56% 100% / 100% 100% 56% 56%;
    }
    
}

.titlebubble{
    width: 100px;
    /* height: 100px; */
    margin: auto;
    /* border: 2px solid rebeccapurple; */
}

.burger{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.burger .line{
    display: block;
    width: 6em;
    height: 1em;
    background-color: #040442;
    margin-block: 1em;
    border-radius: 1em;
    /* transition: transform .5s; */
}

/* .burger.active .line:nth-child(1){
    transform: translate(13px);
    rotate:45deg;
}
.burger.active .line:nth-child(2){
    opacity: 0;
}
.burger.active .line:nth-child(3){
    transform: translate(-13px);
    rotate:-45deg;
} */
