.blob{
    overflow: hidden;
    width: 16rem;
    height: 16rem;
    border-radius: 42% 56% 72% 28% / 42% 40% 56% 40%;
    background-color: ;
    box-shadow: 5px 5px 10px 1px;
    animation: morph 3.5s linear infinite;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 238, 255, 0.13);
    border-top: 1px solid rgb(0, 222, 252);
    border-left: 1px solid rgb(0, 222, 252) ;
    margin-left: 45vw;
}


@keyframes morph{
    0%, 100% {
        border-radius:
        42% 56% 72% 28 / 42% 42% 56% 48%;
    }
    33% {
        border-radius: 
        72% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66% {
        border-radius: 
        100% 56% 56% 100% / 100% 100% 56% 56%;
    }
    
}

.titlebubble{
    width: 100px;
    /* height: 100px; */
    margin: auto;
    /* border: 2px solid rebeccapurple; */
}