*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* boton bubble */
.blob{
    /* overflow: hidden; */
    position: absolute;
    width: 25em;
    height: 20em;
    border-radius: 50% 78% 21% 79% / 53% 51% 49% 47% ;
    box-shadow: 5px 5px 10px 1px;
    animation: morph 3.5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient( circle at top, aqua, #0A0976 80%);
    border-top: 1px solid aqua;
    cursor: pointer;
    transition: 2s;
    z-index: 10 !important;
}


.blob.active{
    width: 15em;
    height: 10em;
    transition: 3s;
}

/* animacion de burbuja */
@keyframes morph {
    0% {   
        border-radius:
        42% 56% 72% 28% / 42% 42% 56% 48%;
        transform:translateX(20px);
    }
    25% {   
        border-radius: 
        72% 28% 48% 48% / 28% 28% 72% 72%;
        transform:translateY(30px);
        transform: rotate(15deg);
    }
    50% {   
        border-radius: 
        100% 56% 56% 100% / 100% 100% 56% 56%;
        transform:translateY(-30px);
        
    }
    75% {    
        border-radius: 
        72% 28% 48% 48% / 28% 28% 72% 72%;
        transform:translateX(-20px);
        transform: rotate(-15deg);
    }
    100% {    
        border-radius:
        42% 56% 72% 28% / 42% 42% 56% 48%; 
        transform:translateX(20px);
    }
  }


/* .titlebubble{
    width: 100px;
    margin: auto;
} */

.burger{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.burger .line{
    display: block;
    width: 8em;
    height: 1em;
    background-color: #040442;
    margin-block: 10px;
    border-radius: 1em;
    transition: transform .5s;
    opacity: .25s;
}

.burger.active .line:nth-child(1){
    transform: translate(0px, 22px) rotate(45deg);
}
.burger.active .line:nth-child(2){
    opacity: 0;
}
.burger.active .line:nth-child(3){
    transform: translate(0px, -25px) rotate(-45deg);
}


/* botones desplegables del manu bubble */
#btn0{
    --i:0;
}
#btn1{
    --i:1;
}
#btn2{
    --i:2;
}
#btn3{
    --i:3;
}
#btn4{
    --i:4;
}
#btn5{
    --i:5;
}



.containerBubble{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    /* border: 1px solid red; */
    width: 99.8%;
    height: 55%;
}


.loader{
    /* border: 1px solid white; */
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.25); */
}

.loader span{
    /* z-index: 20; */
    position: absolute;
    width: 10em;
    height: 8em;
    background: radial-gradient( circle at top, aqua, #0A0976 80%);
    
    
}

.loader.active span{
    animation: animateBtn 3s  ;
    animation-fill-mode: forwards;

}

@keyframes animateBtn{
    from{
        transform: rotate(0deg) translateX(18em);  
    }
    to{
        transform: rotate(calc(-360deg / 6 * var(--i))) translateX(15em);
    }
}

.btn{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white; 
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
}
