.main{
    min-height: 100vh;
    
}

.title{
    color: antiquewhite;
}
.divTitle{
    margin-left: 2em;
}
.divTitle .h2Title{
    font-size: 5em;
    margin: 0;
}

.divStack{
    margin-left: 2em;
}
.divStack .h4Title{
    font-size: 2em; 
    margin: 0;
}


.saludo{
    margin-left: 2em;
}