body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {

  border: 2px solid black;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.App-body {
  /* background: rgb(0,212,255);
  background: radial-gradient(rgba(0,212,255,1) 1%, rgba(9,9,121,1) 50%, rgba(0, 0, 30,1) 80%); */
  /* min-height: 100vh; */
  /* background-color: blue; */
  background: linear-gradient(rgba(9,9,121,1), rgba(0, 0, 30,1));
}

