
.App {
  text-align: center;
  border: 2px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-body {
  
  /* background: rgb(0,212,255);
  background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(0, 0, 30,1) 70%); */
  background: rgb(0,212,255);
  background: radial-gradient(rgba(0,212,255,1) 1%, rgba(9,9,121,1) 50%, rgba(0, 0, 30,1) 80%);
  
  /* min-height: 100vh; */
}





/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
